<ActionBar title="About"> </ActionBar>
<StackLayout class="p-10">
  <Label
    text="Created By Alexander, Dont use this for exam"
    textwrap="true"
  ></Label>
  <Label
    text="Logo By Flaticon"
    textwrap="true"
  ></Label>
  <Label
    text="Image by nicepng, Deviant art"
    textwrap="true"
  ></Label>
  <Label
    text="We always watching"
    textwrap="true"
    class="h1"
    style="text-align: center;"
  ></Label>
  <Image src="~/app/images/watchingyou.jpg" row="0"></Image>
  
</StackLayout>
