.Stat-nav{
    padding-top: 15px;
    background-color: black;
    height: 100px;
    background-image: url("~/app/images/bg_label.png");
    padding-left: 20px;
    color: black;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bolder;
  }
  GridLayout{
      background-color: black;
  }
  .h5{
      font-size: 20px;
  }
  .title{
      font-size: 20px;
      font-weight: bolder;
      text-align: center;
  }