<GridLayout rows="20px, 150px, 160px,auto,auto,auto,auto,*" columns="*,50px">
    <StackLayout row="1" col="0" colSpan="2" class="p-x-20">
      <Image src="~/app/images/pokemon.png"></Image>
    </StackLayout>
    <!-- Perhatikan perbedaan Row, Rows, Rowspan, Col, Columns, Colspan -->
    <Label text="Bukan APP BIASA" class="h1 p-l-20" row="2" col="0"  colSpan="2" style="color: white; text-align: center;"></Label>
    <Label text="Pokemon API" class="h5 Stat-nav p-l-20" row="3" col="0"  style="color: white; "  (tap)="onTap('poke')"></Label>
    <Label text="Digimon API" class="h5 Stat-nav p-l-20" row="4" col="0"  style="color: white; " (tap)="onTap('digi')"></Label>
    <Label text="Harry Porter API" class="h5 Stat-nav p-l-20" row="5" col="0"  style="color: white; " (tap)="onTap('harry')"></Label>
    <Label text="Digital Games API" class="h5 Stat-nav p-l-20" row="6" col="0"  style="color: white; " (tap)="onTap('game')"></Label>
  </GridLayout>
  